@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.spin-slow {
  animation: spin 30s linear infinite; /* Adjust the time for the speed of the spin */
}
.font-style {
  background: #fec8eb;
  padding: 0px 5px;
}
.benefit-cover {
  background-image: url('/banner1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.input {
  width: 100%;
  background: transparent;
  padding: 5px;
  outline: none;
}
.jswdLm .blockbuilder-branding{
  display: none!important;
}
.custom-box-shadow-text {
  position: relative;
  z-index: 10;
}

.custom-box-shadow-2, .custom-box-shadow-1 {
  transition: transform 0.3s ease-in-out;
  z-index: 0;
}

.custom-box-shadow-2:hover, .custom-box-shadow-1:hover {
  transform: scale(1.02); /* subtle hover effect */
}
